$primary: #ff874a;

@mixin coverBg() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin svgFill() {
  &:hover {
    fill: lighten($primary, 15%);
  }

  &:active {
    fill: darken($primary, 15%);
  }
}

@mixin svgStroke() {
  &:hover {
    stroke: lighten($primary, 15%);
  }

  &:active {
    stroke: darken($primary, 15%);
  }
}

body {
  background: #111010;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  background: linear-gradient(180deg, #6192c4 0%, #07386b 100%);
  border-radius: 12px;
  padding: 24px 25px;
  margin-top: 34px;
  width: 90vw;
  max-width: 614px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
}

svg {
  width: 12px;
  height: 12px;
  transition: fill 0.25s, stroke 0.25s;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.current {
  display: flex;
  column-gap: 12px;

  &-image {
    @include coverBg;
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }

  &-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__top {
      display: flex;
      justify-content: space-between;
    }

    &__track {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;
      margin-top: 2px;
    }

    &__group {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #dbf2db;
    }

    &__year {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #dbf2db;
    }
  }
}

.controls {
  margin-top: auto;

  .icon {
    &-arrow {
      fill: $primary;
    }

    &-pause {
      fill: none;
      stroke: $primary;
      display: none;
      width: 40px;
      height: 40px;
    }

    &-play {
      fill: $primary;
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  svg {
    cursor: pointer;

    &:not(.icon-pause) {
      @include svgFill;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
  }

  &-button {
    cursor: pointer;

    svg {
      width: 27px;
      height: 27px;
    }

    &.playing {
      .icon {
        &-pause {
          display: block;
        }

        &-play {
          display: none;
        }
      }
    }
  }

  &-next {
    display: block;
    transform: scale(-1, 1);
  }

  &-progress {
    margin-top: 18px;
  }
}

.progress {
  width: 100%;
  height: 2px;
  position: relative;
  background: #dbf2db;
  border-radius: 12px;
  overflow: hidden;

  &-current {
    background: $primary;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.timeline {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.list {
  &-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #dbf2db;
  }
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 16px;
}

.item {
  display: grid;
  grid-template-columns: 48px 3fr 2fr 2fr auto;
  align-items: center;
  position: relative;

  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
  }

  &-image {
    border-radius: 6px;
    width: 48px;
    height: 48px;
    @include coverBg;
  }

  &-group {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #dbf2db;
  }

  &-track {
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    margin-top: 2px;
  }

  &-titles {
    margin-left: 10px;
  }

  &-play {
    svg {
      width: 32px;
      height: 32px;
      fill: $primary;
      transition: transform 0.5s ease-in-out;
    }
  }
}

.handling {
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 10px;

  svg {
    cursor: pointer;
  }

  .icon {
    &-repeat,
    &-sound {
      width: 24px;
      height: 24px;
      fill: $primary;
      @include svgFill;
    }

    &-shuffle {
      width: 20px;
      height: 20px;
      fill: white;
      stroke: $primary;
      @include svgStroke;
    }
  }

  &-repeat {
    &.active {
      svg {
        fill: #a43700;
      }
    }
  }

  &-sound {
    position: relative;

    &:hover {
      .volume {
        display: block;
      }
    }
  }
}

.volume {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: $primary;
  padding: 15px;
  border-radius: 6px;

  input {
    cursor: pointer;
  }
}
