body {
  padding: 0;
  margin: 0;
  background: #fbfbfd;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Rubik";
}

#slider {
  display: flex;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  padding: 20px;
  column-gap: 10px;
  align-items: stretch;
}

.slide {
  height: 100%;
  border-radius: 12px;
  width: 5%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: width 0.25s ease-in-out;
  position: relative;
  overflow: hidden;
}

.slide span {
  font-size: 13px;
  color: rgb(160, 160, 160);
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.slide.active {
  width: 85%;
}

.slide.active .slide-text {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

.slide-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  visibility: hidden;
  transform: translateX(300px);
}
